.result-screen {
  background-color: #858694;
  color: white;
  padding: 50px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  align-items: center;
  column-gap: 10px;
}

.buttons-grid-container {
  display: grid;
  grid-template-rows: repeat(5, minmax(80px, 1fr));
  row-gap: 2px;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  column-gap: 2px;
}

.grid-1-to-3 {
  grid-column: 1 / 3;
}
