.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-container h1 {
  font-size: 2.5rem;
  flex: 2;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
}

.nav-items li {
  font-size: 1.2rem;
  padding: 10px;
}
